.img7{
    /* border:2px solid red; */
}
.boxx{
    /* border:2px solid blue; */
    margin-top:80px;    
    display:flex;
    justify-content:space-between;   
   
}
.about{
/* border:2px solid black; */
font-weight:700;
color:grey;
margin-left:20px;
}
.about2{
    font-weight:700;
}
.about3{
    font-size:large;
}
.about4{
    color:grey;
}
.about1{
    /* border:2px solid green; */
    margin-left:160px;
    margin-top:60px;
}
.img8{
    /* border:2px solid red; */
}

/* Media Queries */

@media (max-width: 768px) {
    .boxx {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center align items */
    }

    .about1 {
        margin-left: 0; /* Remove left margin */
        margin-top: 20px; /* Adjust top margin */
        /* text-align: center; */
    }
    .img7{
        width:350px;
    }

    .about{
        margin-left:50px;
         /* border:2px solid red; */
    }
    .about2{
         margin-left:30px;
    }
    .about3{
        /* border:2px solid red; */
        display:flex;
        justify-content:center;
        flex-direction:column;
        margin-left:30px;
        margin-top:20px;
        font-size:22px;
    }
    .about33 br{
        display:none;
    }

    .about34{
        display:flex;
    }
    .about4{
        display:flex;
        justify-content:center;
        flex-direction:column;
    }
    .about36 br{
        display:none;
    }
    .about37 br{
        display:none;
    }
    .about38 br{
        display:none;
    }
    .about39 br{
        display:none;
    }
    .about4{
        margin-left:25px;
    }

}

@media (max-width: 576px) {
    .about1 {
        margin-top: 40px; /* Further adjust top margin */
    }
}